@{
    ViewData["Title"] = "Home Page";
}

<div id="loadingAnimation" class="lds-circle nested"></div>

<link rel="stylesheet" href="~/css/Tree.css" />
<div class="cover-spin"></div>
<div id="Tree">
    <ul id="Root">
    </ul>
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/ts/TreeView.js"></script>
</div>
